:host{
    img {
        width: 15.625rem;
        margin-bottom: 1.875rem;
    }

    form {
        width: 31.25rem;
        margin: 1.875rem auto;
        text-align: center;
    }

    input {
        margin-bottom: 0.625rem;

        &[type="button"] {
            margin-right: 0.625rem;
        }
        &[type="date"] {
           color: #6e7379;
        }
    }

    .table {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-content: center;

        .p-title {
            text-align: center;
            font-weight: bold;
        }
        p {
            text-align: center;
        }
        button {
            width: 8rem;
            margin: 0 auto;
        }
    }
    

    
 
}